.projects-section {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--navy);
}
.project-img {
  max-width: 50rem;
  min-width: 20rem;
  margin-top: 2rem;
  margin-left: 2rem;
  position: relative;
}

.img-overlay-2:hover {
  opacity: 0;
  background-color: transparent;
}
.project-img:hover {
  cursor: pointer;
}

.project {
  display: flex;
}
.p-img {
  max-width: 100%;
  opacity: 0.3;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.p-img:hover {
  opacity: 1;
}
.project {
  display: flex;
  justify-content: space-around;
  margin-top: 2.5rem;
}

.project-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 3rem;
  flex: 0 0 50%;
  margin-bottom: 3rem;
}
.p-title {
  color: var(--lightest-slate);

  font-family: var(--font-mono);
}
.p-explain {
  color: var(--slate);
  text-align: start;
  margin-top: 2rem;
}
.technologies {
  display: flex;
  min-width: 100%;

  justify-content: space-between;
  margin-top: 2rem;
}
.icon-tect {
  font-size: 1.5rem;
}
.text-tech {
  font-size: 1rem;
  margin-left: 1rem;
}
.tech {
  text-align: start;
  color: var(--lightest-slate);
  margin-top: 0.5rem;
}
.tech-container {
  margin-top: 0.5rem;
}

@media screen and (max-width: 1112px) {
  .project {
    flex-direction: column;
    align-items: center;
  }
  .tech {
    text-align: start;
    margin-top: 1rem;
  }
  .project-text {
    margin-right: 2rem;

    margin-top: 2rem;
  }
}
.projects-container {
  margin-top: 5rem;
  padding-right: 2rem;
}
.click-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.click {
  background-color: transparent;
  border: solid 1px var(--green);
  border-radius: 0.3rem;
  color: var(--green);
  height: 2rem;
  min-width: 7rem;
  transition: all 0.3s ease-in-out;
  font-family: var(--font-mono);
  padding-top: 0.4rem;
}
.project {
  height: 100%;
}
